# Copyright (c) Sebastian Raschka under Apache License 2.0 (see LICENSE.txt)
# Source for "Build a Reasoning Model (From Scratch)": https://mng.bz/lZ5B
# Code repository: https://github.com/rasbt/reasoning-from-scratch

name: Code Style Checks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  flake8:
    runs-on: ubuntu-latest
    env:
      SKIP_EXPENSIVE: "1"
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: Install ruff (a faster flake 8 equivalent)
      run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv sync --dev --python=3.13
          uv add ruff

    - name: Run ruff with exceptions
      run: |
        source .venv/bin/activate
        ruff check .
